<div class="div-container">
    <div class="row">
        <div class="col-sm m-2">
            <div class="center">
                <div class="row">
                    <div class="col col-md-offset-3" id="form_container">
                        <h2>Contattami</h2>
                        <p class="text-white">
                           Compila il form e mandami una mail, ti risponderò il prima possibile!
                        </p>
                        <form role="form"  action="https://formsubmit.co/baiardi10@gmail.com" method="post" id="reused_form">
                
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <label class="text-white" for="message">
                                        Messaggio:</label>
                                    <textarea class="form-control" type="textarea" name="message" id="message" maxlength="6000" rows="7"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label class="text-white" for="name">
                                        Nome:</label>
                                    <input type="text" class="form-control" id="name" name="name" required>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label class="text-white" for="email">
                                        Email:</label>
                                    <input type="email" class="form-control" id="email" name="email" required>
                                </div>
                            </div>
                
                
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <button type="submit" class="btn btn-lg btn-default pull-right text-white" >Invia →</button>
                                </div>
                            </div>
                
                        </form>
                        <div id="success_message" style="width:100%; height:100%; display:none; ">
                            <h3>Posted your message successfully!</h3>
                        </div>
                        <div id="error_message"
                                style="width:100%; height:100%; display:none; ">
                                    <h3>Error</h3>
                                    Sorry there was an error sending your form.
                
                        </div>
                    </div>
                </div>
              </div>
        </div>
        <div class="col-sm d-none d-sm-block">
            <div class="center">
                <img src="/assets/image/imagelocation.png" width="1000px" alt="image"/>
            </div>
        </div>
       
    </div>
</div>

