.div-container{
    height: 100vh;
    background-color: #131618;
}

h2, .h2{
    font-weight: 700;
    font-size: 60px;
}

.center {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
