<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&family=Roboto+Mono:wght@400;600&display=swap" rel="stylesheet">
</head>
<div class="div-container">
    <h2 class="m-5">[Chi sono]</h2>
    <div class="row m-0">
        
        <div class="col-sm m-5 vertical-center">
            <p class="p-desktop">Ciao! Mi chiamo <strong style="color: rgb(185, 73, 185);">Stefano Baiardi</strong>, sono un ragazzo con la passione per l'informatica.
                Lavoro da cinque anni come <strong style="color: rgb(185, 73, 185);">Android developer</strong> per BsdSoftware per il quale attualmente sto sviluppando l'applicazione <strong style="color: rgb(185, 73, 185);">Municipium.</strong>
                <br>
                Durante questi anni ho collaborato con numerose aziende del territorio italiano, spaziando da <strong style="color: rgb(185, 73, 185);">Webdeveloper</strong> a <strong style="color: rgb(185, 73, 185);">Mobile developer.</strong><br>
                Ho potuto imparare numerose tecnologie molto diverse tra loro e grazie alla forte passione per la programmazione, che mi porta a studiare e interessarmi, non ho trovato difficoltà nel superare vari tipi di problematiche inerenti all'adattamento di nuovi Stack.
                  
            </p>
        </div>
         <div class="col-sm m-1 vertical-center horizzontal-center">
                
                    <img src="/assets/image/minic.png" alt="image"/>
              
            </div>
    </div>
   
        <div class="row m-0">
        
            <div class="col-sm m-5 vertical-center" >
                <p class="p-desktop ">
                  
                    Posso considerarmi un Fullstack developer? Sono sincero, <strong style="color: rgb(185, 73, 185);">non credo.</strong>
                    <br>
                    Io nasco come <strong style="color: rgb(185, 73, 185);">Android developer</strong>, ho molte più <strong style="color: rgb(185, 73, 185);">skills e esperienza</strong> in quel campo che in tutti gli altri, ma questo non vuol dire che non possa <strong style="color: rgb(185, 73, 185);">affrontare </strong> altre sfide.
                    <br>
                    Quindi, se cerchi un giovane ragazzo che non ha paura di <strong style="color: rgb(185, 73, 185);">mettersi in gioco</strong> io faccio al caso tuo!
                </p>
            </div>
            <div class="col-sm m-1 vertical-center horizzontal-center">
                
                    
              
            </div>
        </div>
</div>
