<div class="div-container">
    <div class="container-box">
        <div class="center">
            <div class="row">
                <a href="mailto: baiardi10@gmail.com"><h2 class="text-white m-4"><img height="60px" src="/assets/image/telegram.png"/></h2></a>
                <a href="https://github.com/stebaia"><h2 class="text-white m-4"><img height="60px" src="/assets/image/github_ic.png"/></h2></a>
                <a href="https://www.linkedin.com/in/stefano-baiardi-4718a8130/"><h2 class="text-white m-4"><img height="60px" src="/assets/image/linkedin.png"/></h2></a>
                <a href="https://www.instagram.com/stefanobaiardi_"><h2 class="text-white m-4"><img height="60px" src="/assets/image/instagram.png"/></h2></a>
                <a href="https://www.facebook.com/stefano.baiardi.5/"><h2 class="text-white m-4"><img height="60px" src="/assets/image/facebook.png"/></h2></a>
            
        </div>
    </div>
  
</div>
