.div-container{
    width: 100%;
    background-color: #131618;
    height: 400px;
}

.container-box{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    height: auto;
    width: auto;
}


@media only screen and (max-width: 600px){
    
    .h2, h2 {
        text-align: center;
        font-size:medium;
    }
}