<div class="div-container">
    <div class="container-box">
        <div class="center">
            
                
            
                    <h2>
                        <a href="mailto: baiardi10@gmail.com">baiardi10@gmail.com</a>
                    </h2>
               
                
                <h2>
                    <a href="https://github.com/stebaia">github@stebaia</a>
                </h2>
                <h2>
                    <a href="https://www.linkedin.com/in/stefano-baiardi-4718a8130/">linkedin@stefanobaiardi</a>
                </h2>
                <h2>
                    <a href="https://www.instagram.com/stefanobaiardi_">instagram@stefanobaiardi</a>
                </h2>
                <h2>
                    <a href="https://www.facebook.com/stefano.baiardi.5/">facebook@stefanobaiardi</a>
                </h2>
                
            
        </div>
    </div>
  
</div>
<p class="ml-5 text-white">Stefano Baiardi (V 1.0.0) - Copyright @ 2021 Portfolio personale, sviluppato in Angular12</p>