<div class="div-container text-white">
  <h2 class="m-5">[Progetti]</h2>
  <p class="text-white ml-5 mr-5">Qui sotto troverai una lista di progetti che ho realizzato.</p>
  <div>
    <ul class="columns" data-columns="3">
      
      <li *ngFor="let project of projects">
        <div class="container d-none d-sm-block">
          <div class="card" style="background-color: {{project.background_color}};">
      
          <h4 class="font-weight-bold">{{project.title}}</h4>
          <div class="row ">
            <div class="col-sm">
              <p>{{project.description}}</p>
            </div>
            <div class="col-sm">
              <div class="image-container">
                <img src={{project.image_path}} style="height: 400px;" alt="image"/>
              </div>
              
            </div>
            
          </div>
        </div>
        </div>

        
    </li>
  
    </ul>
    <div class="d-block d-sm-none">
    
      <ul class="">
        
        <li *ngFor="let project of projects">
          <div class="card " style="background-color: {{project.background_color}};">
            <h4 class="font-weight-bold">{{project.title}}</h4>
            <div class="row">
              <div class="col-sm">
                <p>{{project.description}}</p>
              </div>
              <div class="col-sm">
                <div class="image-container">
                  <img src={{project.image_path}} style="height: 400px;" alt="image"/>
                </div>
                
              </div>
              </div>
            </div>
      </li>
    
      </ul>
      
    </div>
    &nbsp;
  </div>
  
</div>
<app-skils></app-skils>


