<section>
    <div class="wave water"></div>
    
    <div class="wave water"></div>
    <div class="wave water"></div>
    <app-sidebar></app-sidebar>
    <div class="row">
        
        <div class="col-sm-8 vertical-center">
            <div class="row-m0 d-none d-sm-block ml-5 typewriter ">
                <h3 class="font-weight-bold desktop text-dark">Ciao! sono Stefano Baiardi</h3>
                <h1 class="font-weight-bold desktop text-dark">Android & Website developer.</h1>
                <h4 class="text-dark">Hai un'idea che vuoi <strong>realizzare?</strong> <br> Oppure <strong>non sei soddisfatto</strong> del tuo prodotto e lo vuoi <strong>migliorare?</strong></h4>
                <button type="button" class="btn btn-primary btn-lg text-light">Dai un occhiata ai miei progetti ></button>
            </div>
            <div class="row-0 d-block d-sm-none mt-5 ">
                <h3 class="font-weight-bold text-center text-dark">Ciao! <br> sono Stefano Baiardi</h3>
                <h1 class="font-weight-bold text-center text-dark">Android <br> & <br>Website developer.</h1>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="img-profile mt-5">
                <div class="d-none d-sm-block">
                    <img src="/assets/image/profile.png" height="1200px" alt="image"/> 
                </div>
                <div class="d-block d-sm-none">
                    <img src="/assets/image/minic.png" alt="image"/>
                </div>
                
                
            </div>
            <div class="d-block d-sm-none ml-1 mr-1">
                <h4 class="text-center mt-5 text-dark" >Hai un'idea che vuoi <strong>realizzare?</strong>  <br> <br>  Oppure <strong>non sei soddisfatto</strong> del tuo prodotto e lo vuoi <strong>migliorare?</strong></h4>
                <button type="button" class="btn btn-primary btn-lg btn-block ">Dai un occhiata ai miei progetti ></button>
            </div>
        </div>

      </div>
    <div class="wave water"></div>
</section>




