<section>
    <div class="wave water"></div>
    
    <div class="wave water"></div>
    <div class="wave water"></div>
    
    <div class="row ">
        
        <div class="col-sm-8 vertical-center">
            <div class="row-m0 d-none d-sm-block ml-5  ">
                <h2 class="font-weight-bold ">Ciao! sono Stefano Baiardi</h2>
                <h1 class="font-weight-bold  title ">Android & Website developer.</h1>
                <h3 class="text-white">Hai un'idea che vuoi <strong style="color: rgb(136, 7, 136);"> realizzare?</strong> <br> Oppure <strong style="color: rgb(136, 7, 136);">non sei soddisfatto</strong> del tuo prodotto e lo vuoi <strong style="color: rgb(136, 7, 136);">migliorare?</strong></h3>
                <button type="button" class="button-go mt-3">Dai un occhiata ai miei progetti ></button>
            </div>
            <div class="row-0 d-block d-sm-none mt-5 ">
                <h2 class="font-weight-bold text-center ">Ciao! <br> sono Stefano Baiardi</h2>
                <h1 class="font-weight-bold text-center ">Android <br> & <br>Website developer.</h1>
            </div>
        </div>
        <div class="col-sm-4 ">
            <div class="img-profile mt-5">
                <div class="d-none d-sm-block">
                    <img src="/assets/image/profile_two.png" height="1200px" alt="image"/> 
                </div>
                <div class="d-block d-sm-none">
                    <img src="/assets/image/minic.png" alt="image"/>
                </div>
                
                
            </div>
            <div class="d-block d-sm-none ml-1 mr-1">
                <h4 class="text-center mt-5 text-white" >Hai un'idea che vuoi <strong style="color: rgb(136, 7, 136);">realizzare?</strong>  <br> <br>  Oppure <strong style="color: rgb(136, 7, 136); font-weight: 900;">non sei soddisfatto</strong> del tuo prodotto e lo vuoi <strong style="color: rgb(136, 7, 136);">migliorare?</strong></h4>
                <button type="button" class="button-go m-5">Dai un occhiata ai miei progetti ></button>
            </div>
        </div>

      </div>
    <div class="wave water"></div>
</section>




