<div class="div-container">
    <div class="row m-5">
        <div class="col-sm mr-5">
          <h2 class="font-weight-bold">[Skils.]</h2>
          <p>I Spent Most Time Building Things Using This Technologies To Know About Every Single Thing Inside Full System</p>
        </div>
        <div class="col-sm ml-5">
          <div class="section-container mt-2">
          <h4 class="font-weight-bold">Android Development</h4>
          <p>Build Android Apps With Java, Kotlin, Gradle DSL, Dependency Injection, Material Design, Jetpack Component, RxJava, Kotlin Coroutines</p>
        </div>
          <div class="line"></div>
          <div class="section-container mt-2">
          <h4 class="font-weight-bold">Backend Development</h4>
          <p>Build Restful Api With Java, Javascript, PHP Using (SpringBoot (Java, Kotlin), Nest.js, Laravel) Based on Json Response, Auth, Mysql, NoSql</p>
        </div>
        </div>
        <div class="col-sm ml-5">
          <div class="section-container mt-2">
            <h4 class="font-weight-bold">Web Development</h4>
            <p>Design Websites With React.js, React Hooks, Axios, SASS, Eslint, Next.js For SSR, SPA, PWA, JSX, Typescript, Javascript (ES6+), Mobile Responsive, Static Site Generation (Next.js)</p>
          </div>
          <div class="line"></div>
          <div class="section-container mt-2">
          <h4 class="font-weight-bold">Tools Development</h4>
          <p>Build Gradle Plugins For Android, IDE Plugins, CLI's To Execute Environment Jobs Depends on OS With (Kotlin, Ruby, Groovy)</p>
        </div>
        </div>
        
      </div>
      <br>
      <div class="row m-5">
        <div class="col-sm mr-5 ">
          <h2 class="font-weight-bold ">[What i can do.]</h2>
          <p>I Spent Most Time Building Things Using This Technologies To Know About Every Single Thing Inside Full System</p>
        </div>
        <div class="col-sm ml-5 ">
          <div class="section-container mt-2">
            <p class="tag">Frontend Side</p>
            <h4 class="font-weight-bold">Android Development</h4>
            <div class="header-content">
              <p>Build Android Apps With Java, Kotlin, Gradle DSL, Dependency Injection, Material Design, Jetpack Component, RxJava, Kotlin Coroutines</p>
            </div>
            
          </div>
          
          <div class="section-container mt-2">
            <div class="line"></div>
            <p class="tag">Frontend Side</p>
            <h4 class="font-weight-bold">Android Development</h4>
            <div class="header-content">
              <p>Build Android Apps With Java, Kotlin, Gradle DSL, Dependency Injection, Material Design, Jetpack Component, RxJava, Kotlin Coroutines</p>
            </div>
            
          </div>
        </div>
        <div class="col-sm ml-5">
          <div class="section-container mt-2">
            
            <p class="tag">Frontend Side</p>
            <h4 class="font-weight-bold">Android Development</h4>
            <div class="header-content">
              <p>Build Android Apps With Java, Kotlin, Gradle DSL, Dependency Injection, Material Design, Jetpack Component, RxJava, Kotlin Coroutines</p>
            </div>
          </div>
          <div class="section-container mt-2">
            <div class="line"></div>
            <p class="tag">Frontend Side</p>
            <h4 class="font-weight-bold">Android Development</h4>
            <div class="header-content">
              <p>Build Android Apps With Java, Kotlin, Gradle DSL, Dependency Injection, Material Design, Jetpack Component, RxJava, Kotlin Coroutines</p>
            </div>
            
          </div>
        </div>
      
      </div>
</div>
<br>
