<div class="div-container text-white">
    <div class="row m-5">
        <div class="col-sm mr-5">
          <h2 class="font-weight-bold">[Skils]</h2>
          <p>Questa è una lista di competenze che ho studiato e ho imparato a utilizzare nel tempo</p>
        </div>
        <div class="col-sm ml-5">
          <div class="section-container mt-2">
          <h4 class="font-weight-bold">Android Development</h4>
          <p>Costruzione di applicazioni Android con Java, Kotlin, Gradle DSL, Dependency Injection, Material Design, Jetpack Component, RxJava, Kotlin Coroutines</p>
        </div>
          <div class="line"></div>
          <div class="section-container mt-2">
            <h4 class="font-weight-bold">Multiplatform Mobile Development</h4>
          <p>Costruzione di applicazioni multipiattaforma con Flutter e Kotlin Multiplatform</p>
        </div>
        </div>
        <div class="col-sm ml-5">
          <div class="section-container mt-2">
            <h4 class="font-weight-bold">Backend Development</h4>
            <p>Costruzione di Restful Api con Java, SpringBoot (Java, Kotlin), KTor (Kotlin Backend), integrati con Mysql</p>
          </div>
          <div class="line"></div>
          <div class="section-container mt-2">
            <h4 class="font-weight-bold">Web Development</h4>
            <p>Design di Websites con Angular, Typescript, Javascript (ES6+), Mobile Responsive,</p>
        </div>
        </div>
        
      </div>
      <br>
      <div class="row m-5">
        <div class="col-sm mr-5 ">
          <h2 class="font-weight-bold ">[Cosa posso fare]</h2>
          <p>Questa è una lista di cosa posso fare e dei servizi che ho creato nel tempo</p>
        </div>
        <div class="col-sm ml-5 ">
          <div class="section-container mt-2">
            <p class="tag">Frontend Side</p>
            <h4 class="font-weight-bold">Mobile Development</h4>
            <div class="header-content">
              <p>Costruzione di applicazioni Android con Java, Kotlin, Gradle DSL, Dependency Injection, Material Design, Jetpack Component, RxJava, Kotlin Coroutines Flutter Mobile Application</p>
            </div>
            
          </div>
          
          <div class="section-container mt-2">
            <div class="line"></div>
            <p class="tag">Backend Side</p>
            <h4 class="font-weight-bold">Web Apps</h4>
            <div class="header-content">
              <p>Deploy su Aws, Heroku e VPS Firebase di backend costruiti utilizzando SpringBoot e Ktor </p>
            </div>
            
          </div>
        </div>
        <div class="col-sm ml-5">
          <div class="section-container mt-2">
            
            <p class="tag">Frontend Side</p>
            <h4 class="font-weight-bold">Webdesign Development</h4>
            <div class="header-content">
              <p>Costruizione di Landing Page, SinglePageApplication e Ecommerce sia con Angular che con Wordpress</p>
            </div>
          </div>
         
        </div>
      
      </div>
</div>
<br>
