.div-container{
   height: 100%;
}

.section-container{
    
    border-radius: 20px;
    padding: 10px;
    
}

h2, .h2 {
    font-size: 40px;
    color: #eb9fde;
}


h4, .h4 {
    color: rgb(190, 77, 190);
}

.tag {
    font-size: 12px;
    margin-bottom: 0px;
}

.header-content {
   
}

.line{
    margin-bottom: 14px;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid rgb(136, 7, 136);
}

@media only screen and (max-width: 600px){
    .section-container{
        height: auto;
        width: 100%;
        border-radius: 20px;
        padding: 10px;
        
    }

    .div-container{
        height: auto; 
     }
}