<nav class="navbar navbar-expand-lg navbar-dark bg-ligt">
  <div class="d-flex flex-grow-1">
      <span class="w-100 d-lg-none d-block">
          <!-- hidden spacer to center brand on mobile --></span>

      <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="#">
          <img src="//placehold.it/40?text=LOGO" alt="logo">
      </a>
      <div class="w-100 text-right">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
              <span class="navbar-toggler-icon"></span>
          </button>
      </div>
  </div>
  <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
        <div class="nav-container">
            <ul class="navbar-nav ms-auto flex-nowrap">
                <li class="nav-item">
                  <a href="#" class="nav-link m-2 menu-item nav-active text-dark">stefanobaiardi.com</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link m-2 menu-item  text-dark" >Chi sono</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link m-2 menu-item text-dark">Progetti</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link m-2 menu-item text-dark">Contatti</a>
                </li>
            </ul>
        </div>
      
  </div>
</nav>